/* universal selector */
*{
    margin: 0;
    box-sizing: border-box;
}

#img-wrapper{
    position: relative;
}

#headshot-img{
    max-width: 15vw;
    position: absolute;

    /* combined with margin: auto, this centers the image */
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;

  /* Draw once and done. */
  /* animation: dash 5s linear forwards; */

  /* Keep drawing */
  animation: dash 5s ease-in-out infinite alternate;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 20px 0;
}

main h3 {
  margin-top: 40px;
}

main iframe,
main blockquote,
main p {
  margin: 15px 0;
}

footer {
  margin-top: 40px;
  padding: 20px 0;
}